<div fxFlexFill fxLayout="column">
  <div fxFlex="nogrow">
    <md-toolbar color="secondary">Create your Match</md-toolbar>
  </div>
  <div fxFlex class="main-container">

    <br>
    <main>

      <ng-container *ngIf="match.exists === undefined">
        <p>Loading...</p>
      </ng-container>

      <ng-container *ngIf="!match.exists && match.exists !== undefined">
        <p>The requested match could not be found.</p>
      </ng-container>

      <!-- <ng-container *ngIf="match.exists && config"> -->
      <div *ngIf="match.exists && config">

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="{{media?.isActive('gt-xs') ? '20px' : '0px'}}">

          <p fxFlex>
            <md-select fxFlex placeholder="Game" name="game" [(ngModel)]="config.gametypeId" required (change)="onChangeGametypeOrVariant(true)">
              <md-option *ngFor="let gametype of gametypes" [value]="gametype.id">{{ gametype.name }}</md-option>
            </md-select>
          </p>
          <p fxFlex>
            <md-select fxFlex *ngIf="config.variantId" placeholder="Variant" name="variant" [(ngModel)]="config.variantId" required (change)="onChangeGametypeOrVariant(false)">
              <md-option *ngFor="let variant of variants" [value]="variant.id">{{ variant.name }}</md-option>
            </md-select>
          </p>

        </div>

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px">

          <ng-container *ngFor="let score of config.scores">
            <md-input-container fxFlex *ngIf="score.isPrimary || showSecondaryScores">
              <input name="score-{{score.id}}" mdInput [placeholder]="'Initial ' + score.label" type="number" [step]="score.step" required
                (focus)="score.initial = ''" (change)="setScores()" [(ngModel)]="score.initial">
            </md-input-container>
          </ng-container>
        </div>

        <!-- <p>Selected Gametype: {{selectedGametype?.name}}</p> -->

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px">
          <md-list dense *ngFor="let team of match.teams; let teamIndex = index;">
            <h3 md-subheader dnd-droppable (onDropSuccess)="match.changeTeam($event.dragData, teamIndex)">Team {{teamIndex+1}}</h3>
            <md-list-item *ngFor="let player of team" dnd-draggable [dragEnabled]="true" [dragData]="player">
              <img md-list-avatar src="{{player.profileImageURL}}" alt="{{player.name}}">
              <h3 md-line>{{player.name}}</h3>
              <button md-icon-button (click)="match.removePlayer(player)" color="warn">
          <md-icon>close</md-icon>
        </button>
            </md-list-item>

          </md-list>
          <md-list dense>
            <h3 md-subheader dnd-droppable (onDropSuccess)="match.changeTeam($event.dragData, match.teams.length)">New Team</h3>
          </md-list>
        </div>

      </div>
      <!-- </ng-container> -->

    </main>

  </div>
  <div fxFlex="nogrow">


    <md-toolbar class="pinBottom">

      <button md-mini-fab (click)="match.delete()" mdTooltip="Delete Match" mdTooltipPosition="above" color="warn">
      <md-icon>delete_forever</md-icon>
    </button>

      <span fxFlex></span>
      <button md-icon-button (click)="showSecondaryScores = !showSecondaryScores" mdTooltip="Show/Hide Secondary Scores" mdTooltipPosition="above">
      <md-icon>{{showSecondaryScores ? 'remove_circle_outline' : 'add_circle_outline'}}</md-icon>
    </button>
      <span fxFlex></span>
      <button md-mini-fab (click)="promptAddPlayer()" mdTooltip="Add Player" mdTooltipPosition="above">
      <md-icon>person_add</md-icon>
    </button>

      <span fxFlex></span>
      <button md-icon-button (click)="promptShuffleTeams()" mdTooltip="Shuffle Teams" mdTooltipPosition="above">
      <md-icon>shuffle</md-icon>
    </button>

      <span fxFlex></span>
      <button md-mini-fab (click)="startMatch()" mdTooltip="Start Match" mdTooltipPosition="above" color="primary">
      <md-icon>arrow_forward</md-icon>
    </button>

    </md-toolbar>

  </div>
</div>