<h2 md-dialog-title>Add Player</h2>

<md-dialog-content>

  <md-input-container>
    <input #filterInput mdInput placeholder="Search" (keyup)="filterUsers(filterInput.value)">
  </md-input-container>

  <md-list>
    <md-list-item *ngFor="let user of filteredUsers">
      <img md-list-avatar src="{{user.profileImageURL}}" alt="{{user.displayName}}">
      <h3 md-line>{{user.displayName}}</h3>
      <p md-line>{{user.id}}</p>
      <button md-icon-button (click)="match.addPlayer(user)" color="primary">
        <md-icon>person_add</md-icon>
      </button>
    </md-list-item>
  </md-list>

</md-dialog-content>

<md-dialog-actions>
  <span fxFlex></span>
  <button md-button md-dialog-close>Done</button>
</md-dialog-actions>