<md-toolbar>
  <span>About</span>
</md-toolbar>

<md-list>
  <md-list-item> Version {{versionNumber}} <span *ngIf="environment?.production === false" class="warn">&nbsp;DEV</span></md-list-item>
  <md-list-item> Developed with ❤ by Random Productions </md-list-item>
  <md-list-item ><a href="http://battle.city/legal/privacy-policy.html">Privacy Policy</a></md-list-item>
 </md-list>