<h2 md-dialog-title>{{data.isCoin ? 'Coin Flip' : 'D'+data.maxVal}}</h2>
<md-dialog-content>{{data.resultVal}}</md-dialog-content>
<br>
<md-dialog-actions>
  <button md-button md-dialog-close>Done</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="true">{{data.isCoin ? 'Flip' : 'Roll'}} Again</button>
</md-dialog-actions>