<md-toolbar>
  <span>Login</span>
</md-toolbar>

<div *ngIf="!currentUserService.user">
  <p>You're not logged-in. Let's fix that!</p>
  <p>
    <button md-button (click)="login()">Log In</button>
  </p>
</div>

<div *ngIf="currentUserService.user">
  <p>You're logged-in as {{currentUserService.user.displayName}}!<p>
  <p>
    <button md-button (click)="currentUserService.logout()" color="warn">Log Out</button>
  </p>
</div>