<div>
  <span>Game has ended.</span>

  <button md-button
          color="accent"
          (click)="onDismiss()">Close</button>

  <button md-button
          color="accent"
          (click)="onAction()">Next</button>

</div>