<h2 md-dialog-title>Game Over!</h2>

<md-dialog-content>
  You can choose to play again, or end the match here.
</md-dialog-content>

<md-dialog-actions>
  <button md-button md-dialog-close>Cancel</button>
  <button md-button [md-dialog-close]="'rematch'" color="primary">Play Again</button>
  <button md-button [md-dialog-close]="'endMatch'" color="warn">End Match</button>
</md-dialog-actions>