<div fxFlex fxLayout="column">
  <div fxFlex="nogrow" fxLayout="row">
    <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()" [color]="sidenav.opened ? 'accent' : 'default'">
        <md-icon>menu</md-icon>
      </button>

      <span>{{title}}</span>

      <!-- This fills the remaining space of the current row -->
      <span fxFlex></span>

      <button md-mini-fab (click)="createMatch()">
        <md-icon>new_releases</md-icon>
      </button>
      <span class="spacer"></span>

      <button md-icon-button (click)="tools.toggle()" [color]="tools.opened ? 'accent' : 'default'">
        <md-icon>widgets</md-icon>
      </button>
    </md-toolbar>
  </div>

  <div fxFlex fxLayout="row">

      <md-sidenav-container fxFlexFill>
        <md-sidenav #sidenav mode="{{media.isActive('gt-sm') ? 'side' : 'over'}}" opened="{{media.isActive('gt-sm')}}">
          <app-navigation></app-navigation>
        </md-sidenav>

        <main fxFlexFill>
          <router-outlet fxFlexFill></router-outlet>
        </main>


        <md-sidenav #tools align="end" mode="{{media.isActive('gt-sm') ? 'side' : 'over'}}" opened="{{media.isActive('gt-sm')}}">
          <app-tools></app-tools>
        </md-sidenav>

      </md-sidenav-container>

  </div>

</div>