<div fxFlexFill fxLayout="column">
  <div fxFlex="nogrow">
    <md-toolbar color="secondary" class="toptoolbar">
       <button md-icon-button *ngIf="game.state == 'done'" mdTooltip="Back to Match" mdTooltipPosition="above" color="danger" [routerLink]=" ['/match', this.matchId] ">
          <md-icon>chevron_left</md-icon>
        </button>
      <span>Game {{game.number ? game.number + 1 : ''}}</span>
      <span *ngIf="game.state == 'done'">: Done</span>
      <span fxFlex></span>
      <ng-container *ngIf="game.state && game.state !== 'done'">
        <button md-icon-button mdTooltip="Open Log" mdTooltipPosition="above" (click)="showLog()" color="danger">
          <md-icon>list</md-icon>
        </button>
        <button md-mini-fab mdTooltip="End Game" mdTooltipPosition="above" color="primary" (click)="endGame()">
        <md-icon>done</md-icon>
      </button>
      </ng-container>
    </md-toolbar>
  </div>
  <div fxFlex class="main-container">

    <ng-container *ngIf="gameExists === undefined">
      <p>Loading...</p>
    </ng-container>

    <ng-container *ngIf="!gameExists && gameExists !== undefined">
      <p>The requested game could not be found.</p>
    </ng-container>

    <ng-container *ngIf="gameExists">

      <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px">
        <md-list dense *ngFor="let team of teams; let teamIndex = index;" (click)="team.selected = !team.selected; setSelectedTeams()"
          [ngClass]="{'selected': team.selected}" class="team">
          <h3 md-subheader>Team {{teamIndex+1}}</h3>
          <md-list-item *ngFor="let player of team">
            <img md-list-avatar src="{{player.profileImageURL}}" alt="{{player.name}}">
            <h3 md-line>{{player.name}}</h3>
            <p md-line>
              {{ player.scores[activeScore.id].current }}
            </p>
          </md-list-item>
        </md-list>
      </div>

    </ng-container>

  </div>
  <div fxFlex="nogrow" *ngIf="game.state && game.state !== 'done'">
    <md-toolbar class="pinBottom">
      <button md-icon-button (click)="cycleActiveScore()" mdTooltip="Cycle Active Score" mdTooltipPosition="above" *ngIf="scores.length !== 1">
      <md-icon>repeat</md-icon>
    </button>
      <span>{{this.activeScore?.label}}</span>


      <!-- <md-input-container *ngIf="activeScore">
        <input name="score-adjust" mdInput [placeholder]="'Adjust ' + activeScore.label + ' by'" type="text" [step]="activeScore.step"
          (focus)="activeScore.initial = ''" [(ngModel)]="scoreAdjustInput" (keyup)="scoreAdjustOutput = calculateMathExpression(scoreAdjustInput)">
        <md-hint align="end">= {{scoreAdjustOutput}}</md-hint>
      </md-input-container> -->

      <input id="scoreAdjustInput" fxFlex *ngIf="activeScore" name="score-adjust" [placeholder]="'Adjust ' + activeScore.label + ' by...'"
        type="text" [step]="activeScore.step" (focus)="scoreAdjustInput = ''" [(ngModel)]="scoreAdjustInput" (keyup)="updateScoreAdjustInput(scoreAdjustInput)"
      />

      <span fxFlex><span *ngIf="scoreAdjustOutput">&nbsp;= {{scoreAdjustOutput}}</span></span>

      <button md-icon-button mdTooltip="Subtract {{activeScore?.label}}" mdTooltipPosition="above" (click)="addToScore(scoreAdjustOutput * (-1))" [disabled]="!selectedTeams?.length">
        <md-icon>remove</md-icon>
      </button>

      <button md-icon-button mdTooltip="Add {{activeScore?.label}}" mdTooltipPosition="above" (click)="addToScore(scoreAdjustOutput)" [disabled]="!selectedTeams?.length">
        <md-icon>add</md-icon>
      </button>

      <!-- <span fxFlex></span> -->

    </md-toolbar>
  </div>
</div>