.main-container{
    padding: 20px; padding-top: 0px;
    overflow-y:scroll !important;
    margin-bottom: 64px;
}

.team.selected {
    background-color: lightblue;
}
.team {
    cursor: pointer;
}

#scoreAdjustInput {
    width: 100%;
    margin: 10px;
}

md-toolbar.toptoolbar button {
    margin-left: 10px;
}