<md-toolbar>
  <span>Tools</span>
</md-toolbar>

<main fxLayout="column">
  <div fxLayout="row" fxLayoutWrap>
    <button fxFlex md-button (click)="promptRand(true, 2)">Coin</button>
    <button fxFlex md-button *ngFor="let dieVal of diceVals" (click)="promptRand(false, dieVal)">D{{dieVal}}</button>
  </div>

  <md-input-container fxFlex>
    <textarea mdInput placeholder="Notes" rows="5" [(ngModel)]="notes"></textarea>
  </md-input-container>
  <button md-button (click)="confirmNotesClear()">Clear Notes</button>

</main>