<div fxFlexFill fxLayout="column">
  <div fxFlex="nogrow">
    <md-toolbar color="secondary">Match: {{match.state | stateReadable}}</md-toolbar>
  </div>
  <div fxFlex class="main-container">

    <br>
    <main *ngIf="match">

      <div class="pad" *ngIf="match.config">

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="{{media?.isActive('gt-xs') ? '20px' : '0px'}}">

          <p fxFlex>
            <md-select fxFlex placeholder="Game" name="game" [(ngModel)]="match.config.gametypeId" disabled="true">
              <md-option *ngFor="let gametype of gametypes" [value]="gametype.id">{{ gametype.name }}</md-option>
            </md-select>
          </p>

          <p fxFlex>
            <md-select fxFlex *ngIf="match.config.variantId" placeholder="Variant" name="variant" [(ngModel)]="match.config.variantId"
              disabled="true">
              <md-option *ngFor="let variant of variants" [value]="variant.id">{{ variant.name }}</md-option>
            </md-select>
          </p>

        </div>

        <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px">
          <md-input-container fxFlex *ngFor="let score of match.config?.scores">
            <input name="score-{{score.id}}" mdInput [placeholder]="'Initial ' + score.label" type="number" [step]="score.step" required
              [(ngModel)]="score.initial" disabled="true">
          </md-input-container>
        </div>

      </div>

      <md-toolbar>
        <span>Teams</span>
      </md-toolbar>

      <div fxLayout="row" fxLayoutWrap fxLayoutGap="20px">
        <md-list dense *ngFor="let team of match.teams; let teamIndex = index;">
          <h3 md-subheader>Team {{teamIndex+1}}</h3>
          <md-list-item *ngFor="let player of team">
            <img md-list-avatar src="{{player.profileImageURL}}" alt="{{player.name}}">
            <h3 md-line>{{player.name}}</h3>
          </md-list-item>
        </md-list>
      </div>

      <br>
      <md-toolbar>
        <span>Games</span>
      </md-toolbar>

      <md-nav-list dense>
        <md-list-item *ngFor="let game of gamesArray" [routerLink]="['game', game.id]">
          <md-icon md-list-icon *ngIf=" game.state == 'done' ">done</md-icon>
          <md-icon md-list-icon *ngIf=" game.state == 'inProgress' ">play_arrow</md-icon>
          <h3 md-line>Game {{game.number+1}}</h3>
          <p md-line>{{game.state | stateReadable}}</p>
          <button md-icon-button><md-icon>chevron_right</md-icon></button>
          <!-- TODO: For each game, show who won? -->
        </md-list-item>
      </md-nav-list>

      <br>

    </main>

  </div>
</div>