<md-toolbar color="">Select a Match</md-toolbar>

<!-- <md-input-container>
  <input mdInput type="text" placeholder="Search" [(ngModel)]="searchText">
</md-input-container> -->

<md-tab-group #matchSelectTabs [(selectedIndex)]="selectedTabIndex" (selectChange)="onTabSelectChange()">
  <md-tab *ngFor="let tab of tabs" [label]="tab.label">
  </md-tab>
</md-tab-group>

<br>
<div class="cardContainer" fxLayout="row" fxLayoutWrap fxLayoutGap="20px">
  <ng-container *ngFor="let match of matches | async | reverse ">
    <ng-container *ngIf="match.players && match && match.config && match.config.gametypeId">
      <!-- This div helps with the fxLayout -->
      <md-card fxFlex.xs="100%">
        <md-card-header>
          <div md-card-avatar [class]="match.config.gametypeId">
          </div>
          <md-card-title>{{ gametypes[match.config.gametypeId]?.name }}</md-card-title>
          <md-card-subtitle *ngIf="match.config.variantId">{{ gametypes[match.config.gametypeId].variants[match.config.variantId]?.name }}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <md-list dense>
            <md-list-item *ngFor="let player of match.players | objNgFor">
              <img md-list-avatar src="{{player.value.profileImageURL}}" alt="{{player.value.name}}">
              <h3 md-line>{{ player.value.name }}</h3>
            </md-list-item>
          </md-list>
        </md-card-content>
        <md-card-actions>
          <span fxFlex></span>
          <button md-button [routerLink]=" ['/match', match.$key] ">GO</button>
        </md-card-actions>
      </md-card>
      <br>
    </ng-container>
  </ng-container>
</div>