<md-nav-list>
  <a [routerLink]=" [item.link] " *ngFor="let item of menuItems" href="..." [routerLinkActive]="'active'" >
    <md-list-item>
      <md-icon md-list-icon>{{item.icon}}</md-icon>
      <h4 md-line>{{ item.name }}</h4>
    </md-list-item>
  </a>
</md-nav-list>