/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@import '~ng2-dnd/style.css';

html,body {
  height: 100%;
  margin: 0px;
}
app-root {
  min-height: 100%;
  display: flex;
}

div[md-card-avatar] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

div[md-card-avatar].ygo {
  background-image: url('assets/gametypeImages/ygo.jpg');
}
div[md-card-avatar].mtg {
  background-image: url('assets/gametypeImages/mtg.jpg');
}

md-toolbar.pinBottom {
  position: absolute; bottom: 0px; left: 0px; right: 0px;
}