<md-toolbar>
  <span>Welcome to Battle City!</span>
</md-toolbar>

<main>
  <p>Hey {{currentUserService.user?.displayName}}, we hope you enjoy your time here.</p>

  <p>You can create a new match using the "New Match" button in the upper-right corner.</p>

  <p>Open the side menu to navigate to the Matches page and view matches you can join.</p>

  <p>This is a pre-release build. Please look forward to future updates (which will feature a real home screen, we pinky swear).</p>
</main>