<h2 md-dialog-title>Game Log <span fxFlex></span><button md-icon-button md-dialog-close><md-icon>close</md-icon></button></h2>

<md-dialog-content>

  <md-list >
    <md-list-item *ngFor="let item of log">
      <!-- Show icon for plus/minus? -->
      <!-- <img md-list-avatar src="{{user.profileImageURL}}" alt="{{user.displayName}}"> -->
      <md-icon md-list-icon *ngIf=" item.eventType == 'addScore' ">add</md-icon>
      <md-icon md-list-icon *ngIf=" item.eventType == 'removeScore' ">remove</md-icon>
      <md-icon md-list-icon *ngIf=" item.eventType == 'coinFlip' ">cached</md-icon>

      <h3 md-line>{{item.message}}</h3>
      <!-- <p md-line>{{log.actionBy || 'Unknown'}}</p> -->
      <p md-line *ngIf="item.timestamp">{{item.timestamp | amTimeAgo}}</p>
    </md-list-item>
  </md-list>

</md-dialog-content>